<aside id="left-panel">

    <!-- User info -->
    <sa-login-info></sa-login-info>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul saSmartMenu>

            <li routerLinkActive="active">
                <a routerLink="/home" title="Bienvenida">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Bienvenida' | i18n}}</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/menu" title="Pedido">
                    <i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">{{'Pedido' | i18n}}</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/pedido" title="Consulta Pedido">
                    <i class="fa fa-lg fa-fw fa-delicious"></i> <span class="menu-item-parent">{{'Consulta Pedido' | i18n}}</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/reserva" title="Reserva">
                    <i class="fa fa-lg fa-fw fa-calendar-times-o"></i> <span class="menu-item-parent">{{'Reserva' | i18n}}</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/reservaConsulta" title="Reserva Consulta">
                    <i class="fa fa-lg fa-fw fa-calendar-times-o"></i> <span class="menu-item-parent">{{'Reserva Consulta' | i18n}}</span></a>
            </li>
        </ul>
    </nav>

    <sa-minify-menu></sa-minify-menu>

</aside>
