<div id="content" class="search-view">
    <div class="consulta-creator">
        <div class="consulta-creator__title">
            <h1>
                <img src="assets/img/pollo.svg">
                Poller&iacute;a Pardos Chicken
            </h1>
        </div>
        <div class="smart-form">
            <label class="label-dummy">Consultar Reservas</label>
            <label class="label-dummy">&nbsp;</label>
            <section class="col col-2">
                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                    <input type="text" name="fechaInicio" placeholder="Fecha Inicio"/>
                </label>
            </section>
            <section class="col col-2">
                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                    <input type="text" name="fechaFin" placeholder="Fecha Fin"/>
                </label>
            </section>
            <section class="col col-3">
                <label class="input"> <i class="icon-append fa fa-chevron-down"></i>
                    <input type="text" name="local" placeholder="Local"/>
                </label>
            </section>
            <div class="col col-3">
                <button type="submit" class="btn btn-lg btn-primary">
                    Buscar
                </button>
                <button type="submit" class="btn btn-lg btn-primary" (click)="nuevaReserva()">
                    Nueva Reserva
                </button>
            </div>
            <div class="col col-6">
                <label></label>
            </div>
        </div>
    </div>
    <div class="consulta-creator">
        <div class="col col-6">
            <label></label>
        </div>
        <div class="widget-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Local</th>
                        <th>Cantidad de Persona</th>
                        <th>Persona que reserv&oacute;</th>
                        <th>Tipo de Reserva</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a (click)="irDetalle()">1-89891818</a>
                        </td>
                        <td>15/06/2017</td>
                        <td>13:00</td>
                        <td>Av. Angamos 154 - San Borja</td>
                        <td>20</td>
                        <td>Fulano x</td>
                        <td>Normal</td>
                        <td>Pendiente</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a (click)="irDetalle()">2-79182635</a>
                        </td>
                        <td>12/06/2017</td>
                        <td>13:00</td>
                        <td>Av. Domingo 1534 - San Isidro</td>
                        <td>30</td>
                        <td>Fulano y</td>
                        <td>Normal</td>
                        <td>Pagado</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a (click)="irDetalle()">3-47487919</a>
                        </td>
                        <td>14/07/2017</td>
                        <td>19:00</td>
                        <td>Av. Aviaci&oacute;n con San Borja Sur</td>
                        <td>10</td>
                        <td>Javier Cuicapuza</td>
                        <td>Normal</td>
                        <td>Pendiente</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>