<div id="content" class="search-view">
    <h2>Hello {{name}}</h2>
    <div *ngFor="let meeting of meetingList; let index=index; let odd=odd; let even=even;"
         class="row"
         [ngClass]="{ odd: odd, even: even }">{{meeting}}
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="widget-body">
            <div class="table-responsive col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Col1</th>
                        <th>Col1</th>
                        <th>Puerta</th>
                        <th>Col1</th>
                        <th>Col1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let asset of mesaResult; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
                        <td>{{asset.disponibilidad}}</td>
                        <td>{{asset.disponibilidad}}</td>
                        <td>{{asset.disponibilidad}}</td>
                        <td>{{asset.disponibilidad}}</td>
                        <td>{{asset.disponibilidad}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>